* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	font-size: 16px;
}

html,
body {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.u-text-pointer {
	cursor: pointer;
}
.u-text-yellow {
	color: yellow !important;
}
.u-margin-r2 {
	margin-right: 10px;
}
.u-btn-primary {
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	line-height: 20px;
	margin: 8px 4px 0 0;
	padding: 6px 12px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
	background-color: #49852e;
	box-shadow: none;
	border: none;
	color: #fff;
	min-width: 70px;

	&:hover {
		background-color: #295f10;
	}
}
.u-btn-transparent {
	min-width: 70px;
	background: hsla(0, 0%, 100%, 0.24);
	color: white;
	border-radius: 3px;
	margin: 8px;

	&:hover {
		background: hsla(0, 0%, 100%, 0.4);
	}
}
.u-btn-disabled {
	background-color: #ececec;
	color: #9f9f9f;
	cursor: not-allowed;
	pointer-events: none;
}

/** ICONS START **/
.icon {
	display: inline-block;
	fill: currentColor;
	margin-top: -0.2em;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	overflow: hidden;
}
.icon--fill {
	background-color: currentColor;
	fill: #fff;
}
.icon--round {
	border-radius: 4px;
}
.icon--circle {
	border-radius: 50%;
}
.icon--border {
	border: 1px solid currentColor;
}
.icon-close {
	color: inherit;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 18px;
}
/** ICONS END **/
