#root {
	flex: 1 1 auto;
	height: 100vh;
}

/** BOARD START **/
.board-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;

	.menu,
	#board {
		width: 100%;
		display: flex;
		align-items: flex-start;
	}
	#board {
		flex-direction: column;
	}
	.board-header {
		display: flex;
		min-height: 40px;
		padding: 5px;
		background: rgba(0, 0, 0, 0.15);

		.filter-cards-form {
			margin: 0;
			padding: 0px;

			input {
				margin: 0 !important;
				width: 300px;
				max-width: 500px;
				background: rgba(255, 255, 255, 1);
				color: #000;
			}
		}
	}
	.menu {
		flex-direction: row;
		padding: 8px 4px 4px 8px;

		.u-btn-transparent {
			text-align: center;
			color: white;
			padding: 5px;
			margin: 5px;
		}

		.controls {
			display: flex;
			flex-direction: row;

			#menu-heading {
				background: transparent !important;
				font-weight: bold;
			}

			#bookmark-icon {
				min-width: 10px;
			}
		}
		#menu-btn {
			margin-left: auto;
			justify-self: flex-end;
			padding: 7px;

			span {
				margin-left: 5px;
			}
		}
	}
	.board-menu {
		height: 100%;
		width: 350px;
		z-index: 999;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		transition: all 0.2s linear;

		.board-menu-content {
			color: #172b4d;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 12px 12px 12px 12px;
			width: 100%;
			height: 100%;

			.board-users {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin: 5px 0px;

				li {
					list-style: none;
					margin-right: 7px;
					width: 30px;
					height: 30px;
					background-color: #172b4d;
					color: #fff;
					border-radius: 50%;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
				}
			}
			.board-menu-user-inviation {
				margin-top: 10px;

				.board-invite-btn {
					padding: 7px;
					background-color: #ececec;
					font-weight: bold;
					border-radius: 3px;

					svg {
						margin-right: 5px;
					}

					&:hover {
						background-color: #d1d3d8;
					}
				}
			}
			.navigation-item {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin-top: 10px;
				padding: 7px;

				&:hover {
					background-color: #d1d3d8;
				}

				svg,
				div {
					margin-right: 10px;
					width: 20px;
					height: 20px;
					border-radius: 3px;
				}
			}
		}
	}
}
.bg-colors {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px;

	.bg-color-tile {
		list-style: none;
		flex-basis: 49%;
		flex-shrink: 0;
		height: 100px;
		margin-bottom: 10px;
		border-radius: 3px;
	}
}

/** LIST START **/
.lists {
	display: flex;
	flex-direction: row;
	max-height: 100vh;
	overflow: hidden;

	.list {
		margin: 8px;
		border: 1px solid lightgrey;
		width: 260px;
		max-height: 100vh;
		height: 100%;
		background-color: #ebecf0;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		position: relative;
		white-space: normal;
		overflow: hidden;

		.list-header {
			padding: 8px;
			margin: 0px;
		}

		.tasks {
			padding: 8px;
			transition: background-color 0.2 ease;
			flex-grow: 1 1 auto;
			min-height: 0px;
			max-height: 90%;
			word-break: break-word;
			word-wrap: break-word;

			.edit-icon,
			.control-icon {
				margin-left: 5px;
				cursor: pointer;
				display: none;
			}

			.edit-icon {
				width: 12px;
				height: 12px;
			}

			.icon.control-icon {
				margin-left: 2px !important;
			}

			.task:hover {
				.control-icon {
					display: inline-block;
				}
			}
		}
	}
}
/** LIST END **/

.card {
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 8px;
	margin-bottom: 8px;
	transition: background-color 0.2 ease;
	background-color: white;
	box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);

	&:hover {
		background-color: #f4f5f7;
	}
}

.composer {
	padding: 8px;

	.composer-textarea {
		user-select: none;
		unicode-bidi: -webkit-plaintext;
		margin: 0;
		font-weight: 400;
		color: #172b4d;
		-webkit-appearance: none;
		border-radius: 3px;
		display: block;
		line-height: 20px;
		transition-property: background-color, border-color, box-shadow;
		transition-duration: 85ms;
		transition-timing-function: ease;
		resize: vertical;
		width: 100%;
		background: none;
		border: none;
		box-shadow: none;
		margin-bottom: 4px;
		max-height: 162px;
		min-height: 54px;
		padding: 0;
		overflow: hidden;
		overflow-wrap: break-word;
		height: 40px;

		&:focus {
			border: none;
			outline: none;

			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}

	.controls {
		display: flex;
		align-items: center;
	}
}
.composer-add {
	&:hover {
		background-color: #d1d3d8;
	}
}

.add-list-section {
	width: 260px;
	height: 100%;

	&.composer-form {
		color: #000;
		background: white !important;
	}
}

/* MENU START */
header.banner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 48px;
	padding: 0 6px 0 12px;
	border-bottom: 1px solid rgba(9, 30, 66, 0.13);

	h3 {
		flex: 1;
		text-align: center;
	}
	div {
		width: 30px;
	}
}

.search,
.email {
	line-height: 20px;
	min-height: 40px;
}
.search,
.email,
.message {
	padding: 4px 8px;
	padding-left: 12px;
	margin: auto;
	width: 100%;
	max-width: 500px;
	position: relative;
	background-color: #fafbfc;
	border: none;
	box-shadow: inset 0 0 0 2px #dfe1e6;
	color: #172b4d;
	border-radius: 3px;
	box-sizing: border-box;
	margin-bottom: 12px;
}
.message {
	min-height: 100px;
}
.user-invitation {
	.u-btn-primary {
		width: 100%;
		max-width: 500px;
	}
}
.filter-cards-form {
	padding: 10px;
	margin: 10px 0px;
}
/** MENU END **/
/** BOARD END **/
